In [1]:
import numpy as np 
import pandas as pd

In [2]:
house = pd.read_csv('/Users/tiziana/Desktop/PYTHON/TESI MAGISTRALE/DATI/FINANCIAL INDEX/HOUSING/ELABORAZIONE PROPRIA/DATABASE ELABORATO HOUSING.csv')
house_nation = house.groupby('Country').sum().index

/var/folders/dh/zp5lxqxj269938btf9rcxlh40000gn/T/ipykernel_1075/3190747375.py:2: FutureWarning: The default value of numeric_only in DataFrameGroupBy.sum is deprecated. In a future version, numeric_only will default to False. Either specify numeric_only or select only columns which should be valid for the function.
  house_nation = house.groupby('Country').sum().index

In [3]:
house_nation

Index(['Australia', 'Austria', 'Belgium', 'Canada', 'Denmark', 'Finland',
       'France', 'Germany', 'Greece', 'Iceland', 'Ireland', 'Italy', 'Japan',
       'Korea', 'Netherlands', 'Norway', 'Portugal', 'Russia', 'Spain',
       'Sweden', 'Switzerland', 'United Kingdom', 'United States'],
      dtype='object', name='Country')

In [4]:
credit = pd.read_csv('/Users/tiziana/Desktop/PYTHON/TESI MAGISTRALE/DATI/FINANCIAL INDEX/CREDIT CYCLE/TOTAL CREDIT TO PRIVATE NON-FINANCIAL SECTOR/ELABORAZIONE PROPRIA/domestic credit.csv')
credit.head()

     Country Trimestre  Credit to private NF sector
0  Australia    2000Q1                    -2.294992
1  Australia    2000Q2                    -2.177049
2  Australia    2000Q3                    -2.134161
3  Australia    2000Q4                    -1.967969
4  Australia    2001Q1                    -1.850026

In [5]:
credit_nation = credit.groupby('Country').sum().index
credit_nation

/var/folders/dh/zp5lxqxj269938btf9rcxlh40000gn/T/ipykernel_1075/1842670301.py:1: FutureWarning: The default value of numeric_only in DataFrameGroupBy.sum is deprecated. In a future version, numeric_only will default to False. Either specify numeric_only or select only columns which should be valid for the function.
  credit_nation = credit.groupby('Country').sum().index

Index(['Australia', 'Austria', 'Belgium', 'Canada', 'China', 'Denmark',
       'Finland', 'France', 'Germany', 'Greece', 'Ireland', 'Italy', 'Japan',
       'Korea', 'Netherlands', 'Poland', 'Portugal', 'Russia', 'Spain',
       'Sweden', 'Switzerland', 'United Kingdom', 'United States'],
      dtype='object', name='Country')

In [6]:
stock = pd.read_csv('/Users/tiziana/Desktop/PYTHON/TESI MAGISTRALE/DATI/FINANCIAL INDEX/STOCK MARKET /STOCK- ELABORAZIONE PROPRIA/STOCK-SECTOR.csv')
stock.head()

stock_naz = stock.groupby('Country').sum().index
stock_naz

/var/folders/dh/zp5lxqxj269938btf9rcxlh40000gn/T/ipykernel_1075/1536887387.py:4: FutureWarning: The default value of numeric_only in DataFrameGroupBy.sum is deprecated. In a future version, numeric_only will default to False. Either specify numeric_only or select only columns which should be valid for the function.
  stock_naz = stock.groupby('Country').sum().index

Index(['Australia', 'Austria', 'Belgium', 'Canada', 'China', 'Denmark',
       'Finland', 'France', 'Germany', 'Greece', 'Iceland', 'Ireland', 'Italy',
       'Japan', 'Netherlands', 'Norway', 'Portugal', 'Russia', 'South Korea',
       'Spain', 'Sweden', 'Switzerland', 'United Kingdom', 'United States'],
      dtype='object', name='Country')

In [7]:
long_term = pd.read_csv('/Users/tiziana/Desktop/PYTHON/TESI MAGISTRALE/DATI/FINANCIAL INDEX/LONG TERM INTEREST RATE/ELABORAZIONE PRORPIA/Spread data with USA.csv')
long_term.head()

long_term_naz = long_term.groupby('Country').sum().index
long_term_naz

/var/folders/dh/zp5lxqxj269938btf9rcxlh40000gn/T/ipykernel_1075/3172361616.py:4: FutureWarning: The default value of numeric_only in DataFrameGroupBy.sum is deprecated. In a future version, numeric_only will default to False. Either specify numeric_only or select only columns which should be valid for the function.
  long_term_naz = long_term.groupby('Country').sum().index

Index(['Australia', 'Austria', 'Belgium', 'Canada', 'Denmark', 'Finland',
       'France', 'Germany', 'Greece', 'Iceland', 'Ireland', 'Italy', 'Japan',
       'Korea', 'Latvia', 'Lettonia', 'Netherlands', 'Norway', 'Portugal',
       'Russia', 'Spain', 'Sweden', 'Switzerland', 'United Kingdom',
       'United States'],
      dtype='object', name='Country')

In [8]:
gdp = pd.read_csv('/Users/tiziana/Desktop/PYTHON/TESI MAGISTRALE/DATI/GDP_GR/GDP GROWTH STANDARDIZED DATA.csv')
gdp.head()

gdp_naz = gdp.groupby('Country').sum().index
gdp_naz

/var/folders/dh/zp5lxqxj269938btf9rcxlh40000gn/T/ipykernel_1075/1373020034.py:4: FutureWarning: The default value of numeric_only in DataFrameGroupBy.sum is deprecated. In a future version, numeric_only will default to False. Either specify numeric_only or select only columns which should be valid for the function.
  gdp_naz = gdp.groupby('Country').sum().index

Index(['Austria', 'Belgium', 'Finland', 'France', 'Germany', 'Greece', 'Italy',
       'Japan', 'Netherlands', 'Portugal', 'Spain', 'Sweden', 'United Kingdom',
       'United States'],
      dtype='object', name='Country')

In [9]:
debt = pd.read_csv('/Users/tiziana/Desktop/PYTHON/TESI MAGISTRALE/DATI/TOTAL DEBT/FINAL DEBT.csv')
debt.head()

debt_naz = debt.groupby('Country').sum().index
debt_naz

/var/folders/dh/zp5lxqxj269938btf9rcxlh40000gn/T/ipykernel_1075/804700114.py:4: FutureWarning: The default value of numeric_only in DataFrameGroupBy.sum is deprecated. In a future version, numeric_only will default to False. Either specify numeric_only or select only columns which should be valid for the function.
  debt_naz = debt.groupby('Country').sum().index

Index(['Austria', 'Belgium', 'Canada', 'Denmark', 'Estonia', 'Finland',
       'France', 'Germany', 'Greece', 'Ireland', 'Italy', 'Japan', 'Lettonia',
       'Lituania', 'Netherlands', 'Poland', 'Portugal', 'Spain', 'Sweden',
       'United Kingdom', 'United States'],
      dtype='object', name='Country')

In [10]:
ca = pd.read_csv('/Users/tiziana/Desktop/PYTHON/TESI MAGISTRALE/DATI/CA BALANCE/ELABORAZIONE PROPRIA/CA BALANCE % GDP STANDARDIZED QUARTERLY DATA.csv')
ca.head()

     Country     Time     Value
0  Australia  Q1-2000 -0.612587
1  Australia  Q2-2000 -0.631783
2  Australia  Q3-2000 -0.036885
3  Australia  Q4-2000 -0.073520
4  Australia  Q1-2001  0.299204

In [11]:
ca_naz = ca.groupby('Country').sum().index
ca_naz

/var/folders/dh/zp5lxqxj269938btf9rcxlh40000gn/T/ipykernel_1075/1084159686.py:1: FutureWarning: The default value of numeric_only in DataFrameGroupBy.sum is deprecated. In a future version, numeric_only will default to False. Either specify numeric_only or select only columns which should be valid for the function.
  ca_naz = ca.groupby('Country').sum().index

Index(['Australia', 'Austria', 'Belgium', 'Canada',
       'China (People's Republic of)', 'Denmark', 'Estonia', 'Finland',
       'France', 'Germany', 'Greece', 'Iceland', 'Ireland', 'Italy', 'Japan',
       'Korea', 'Latvia', 'Netherlands', 'Norway', 'Poland', 'Portugal',
       'Russia', 'Spain', 'Sweden', 'Switzerland', 'United Kingdom',
       'United States'],
      dtype='object', name='Country')

## CREAZIONE FINALE DATABASE CON VALORI STANDARDIZZATI

In [12]:
housing = pd.read_csv('/Users/tiziana/Desktop/PYTHON/TESI MAGISTRALE/DATI/FINANCIAL INDEX/HOUSING/ELABORAZIONE PROPRIA/DATABASE ELABORATO HOUSING.csv')
USA_spread = pd.read_csv('/Users/tiziana/Desktop/PYTHON/TESI MAGISTRALE/DATI/FINANCIAL INDEX/LONG TERM INTEREST RATE/ELABORAZIONE PRORPIA/Spread data with USA.csv')
stock_sector = pd.read_csv('/Users/tiziana/Desktop/PYTHON/TESI MAGISTRALE/DATI/FINANCIAL INDEX/STOCK MARKET /STOCK- ELABORAZIONE PROPRIA/STOCK-SECTOR.csv')
domestic_credit = pd.read_csv('/Users/tiziana/Desktop/PYTHON/TESI MAGISTRALE/DATI/FINANCIAL INDEX/CREDIT CYCLE/TOTAL CREDIT TO PRIVATE NON-FINANCIAL SECTOR/ELABORAZIONE PROPRIA/domestic credit.csv')
spread = pd.read_csv('/Users/tiziana/Desktop/PYTHON/TESI MAGISTRALE/DATI/FINANCIAL INDEX/CREDIT CYCLE/interest rate spread/ELABORAZIONE PROPRIA/SPREAD DEFINITIVO.csv')

In [13]:
spread

      Country Trimestre    Spread
0     Austria    2000Q1  0.591463
1     Austria    2000Q2  0.616734
2     Austria    2000Q3  0.497079
3     Austria    2000Q4  0.413858
4     Austria    2001Q1  0.378304
...       ...       ...       ...
1718   Sweden    2021Q4 -2.565587
1719   Sweden    2022Q1 -2.565587
1720   Sweden    2022Q2 -2.565587
1721   Sweden    2022Q3 -2.565587
1722   Sweden    2022Q4 -2.565587

[1723 rows x 3 columns]

In [15]:
debt = pd.read_csv('/Users/tiziana/Desktop/PYTHON/TESI MAGISTRALE/DATI/TOTAL DEBT/FINAL DEBT.csv')
gdp = pd.read_csv('/Users/tiziana/Desktop/PYTHON/TESI MAGISTRALE/DATI/GDP_GR/GDP GROWTH STANDARDIZED DATA.csv')
ca = pd.read_csv('/Users/tiziana/Desktop/PYTHON/TESI MAGISTRALE/DATI/CA BALANCE/ELABORAZIONE PROPRIA/CA BALANCE % GDP STANDARDIZED QUARTERLY DATA.csv')

In [16]:

trimestri = [f'Q{i}-{anno}' for anno in range(2000, 2023) for i in range(1, 5)]
housing['Time'] = pd.to_datetime(housing['Time'].str.replace(r'Q(\d)-(\d+)', r'\2Q\1'))

housing['Time'] = pd.to_datetime(housing['Time'])
housing['Trimestre'] = housing['Time'].dt.to_period('Q')

housing = housing[['Country','Trimestre','Real house price index','Price-Income Ratio']]

/var/folders/dh/zp5lxqxj269938btf9rcxlh40000gn/T/ipykernel_1075/637950434.py:2: FutureWarning: The default value of regex will change from True to False in a future version.
  housing['Time'] = pd.to_datetime(housing['Time'].str.replace(r'Q(\d)-(\d+)', r'\2Q\1'))

In [17]:

trimestri = [f'Q{i}-{anno}' for anno in range(2000, 2023) for i in range(1, 5)]
gdp['Period'] = pd.to_datetime(gdp['Period'].str.replace(r'Q(\d)-(\d+)', r'\2Q\1'))

gdp['Period'] = pd.to_datetime(gdp['Period'])
gdp['Trimestre'] = gdp['Period'].dt.to_period('Q')

gdp = gdp[['Country','Trimestre','Value']]
gdp.columns = ['Country','Trimestre','Gdp growth']

/var/folders/dh/zp5lxqxj269938btf9rcxlh40000gn/T/ipykernel_1075/3950568881.py:2: FutureWarning: The default value of regex will change from True to False in a future version.
  gdp['Period'] = pd.to_datetime(gdp['Period'].str.replace(r'Q(\d)-(\d+)', r'\2Q\1'))

In [18]:

trimestri = [f'Q{i}-{anno}' for anno in range(2000, 2023) for i in range(1, 5)]
ca['Time'] = pd.to_datetime(ca['Time'].str.replace(r'Q(\d)-(\d+)', r'\2Q\1'))

ca['Time'] = pd.to_datetime(ca['Time'])
ca['Trimestre'] = ca['Time'].dt.to_period('Q')

ca = ca[['Country','Trimestre','Value']]
ca.columns = ['Country','Trimestre','Current Account']

/var/folders/dh/zp5lxqxj269938btf9rcxlh40000gn/T/ipykernel_1075/1215500642.py:2: FutureWarning: The default value of regex will change from True to False in a future version.
  ca['Time'] = pd.to_datetime(ca['Time'].str.replace(r'Q(\d)-(\d+)', r'\2Q\1'))

In [19]:
domestic_credit= domestic_credit[['Country','Trimestre','Credit to private NF sector']]

In [20]:
USA_spread = USA_spread[['Country','Trimestre','LT interest rate']]

In [21]:
stock_sector = stock_sector[['Stock idx open-price','DATE','Share price','Country']]
stock_sector.columns = ['Stock idx open-price','Trimestre','Share price','Country']

In [22]:
debt.columns = ['Country','Trimestre','Public Debt']

In [23]:
dataframes = [housing,USA_spread,spread,domestic_credit,stock_sector,gdp,ca,debt]

for df in dataframes:
    df['Country'] = df['Country'].astype(str)
    df['Trimestre'] = df['Trimestre'].astype(str)

In [24]:
for dataf in dataframes:
    nazione_dataf = dataf.groupby('Country').sum().index
    print(nazione_dataf)

Index(['Australia', 'Austria', 'Belgium', 'Canada', 'Denmark', 'Finland',
       'France', 'Germany', 'Greece', 'Iceland', 'Ireland', 'Italy', 'Japan',
       'Korea', 'Netherlands', 'Norway', 'Portugal', 'Russia', 'Spain',
       'Sweden', 'Switzerland', 'United Kingdom', 'United States'],
      dtype='object', name='Country')
Index(['Australia', 'Austria', 'Belgium', 'Canada', 'Denmark', 'Finland',
       'France', 'Germany', 'Greece', 'Iceland', 'Ireland', 'Italy', 'Japan',
       'Korea', 'Latvia', 'Lettonia', 'Netherlands', 'Norway', 'Portugal',
       'Russia', 'Spain', 'Sweden', 'Switzerland', 'United Kingdom',
       'United States'],
      dtype='object', name='Country')
Index(['Austria', 'Belgium', 'Canada', 'Finland', 'France', 'Germany',
       'Greece', 'Ireland', 'Italy', 'Japan', 'Latvia', 'Lithuania',
       'Netherlands', 'Portugal', 'Slovakia', 'Spain', 'Sweden',
       'United Kingdom', 'United States'],
      dtype='object', name='Country')
Index(['Australia', 'Austria', 'Belgium', 'Canada', 'China', 'Denmark',
       'Finland', 'France', 'Germany', 'Greece', 'Ireland', 'Italy', 'Japan',
       'Korea', 'Netherlands', 'Poland', 'Portugal', 'Russia', 'Spain',
       'Sweden', 'Switzerland', 'United Kingdom', 'United States'],
      dtype='object', name='Country')
Index(['Australia', 'Austria', 'Belgium', 'Canada', 'China', 'Denmark',
       'Finland', 'France', 'Germany', 'Greece', 'Iceland', 'Ireland', 'Italy',
       'Japan', 'Netherlands', 'Norway', 'Portugal', 'Russia', 'South Korea',
       'Spain', 'Sweden', 'Switzerland', 'United Kingdom', 'United States'],
      dtype='object', name='Country')
Index(['Austria', 'Belgium', 'Finland', 'France', 'Germany', 'Greece', 'Italy',
       'Japan', 'Netherlands', 'Portugal', 'Spain', 'Sweden', 'United Kingdom',
       'United States'],
      dtype='object', name='Country')
Index(['Australia', 'Austria', 'Belgium', 'Canada',
       'China (People's Republic of)', 'Denmark', 'Estonia', 'Finland',
       'France', 'Germany', 'Greece', 'Iceland', 'Ireland', 'Italy', 'Japan',
       'Korea', 'Latvia', 'Netherlands', 'Norway', 'Poland', 'Portugal',
       'Russia', 'Spain', 'Sweden', 'Switzerland', 'United Kingdom',
       'United States'],
      dtype='object', name='Country')
Index(['Austria', 'Belgium', 'Canada', 'Denmark', 'Estonia', 'Finland',
       'France', 'Germany', 'Greece', 'Ireland', 'Italy', 'Japan', 'Lettonia',
       'Lituania', 'Netherlands', 'Poland', 'Portugal', 'Spain', 'Sweden',
       'United Kingdom', 'United States'],
      dtype='object', name='Country')

/var/folders/dh/zp5lxqxj269938btf9rcxlh40000gn/T/ipykernel_1075/1300432181.py:2: FutureWarning: The default value of numeric_only in DataFrameGroupBy.sum is deprecated. In a future version, numeric_only will default to False. Either specify numeric_only or select only columns which should be valid for the function.
  nazione_dataf = dataf.groupby('Country').sum().index
/var/folders/dh/zp5lxqxj269938btf9rcxlh40000gn/T/ipykernel_1075/1300432181.py:2: FutureWarning: The default value of numeric_only in DataFrameGroupBy.sum is deprecated. In a future version, numeric_only will default to False. Either specify numeric_only or select only columns which should be valid for the function.
  nazione_dataf = dataf.groupby('Country').sum().index
/var/folders/dh/zp5lxqxj269938btf9rcxlh40000gn/T/ipykernel_1075/1300432181.py:2: FutureWarning: The default value of numeric_only in DataFrameGroupBy.sum is deprecated. In a future version, numeric_only will default to False. Either specify numeric_only or select only columns which should be valid for the function.
  nazione_dataf = dataf.groupby('Country').sum().index
/var/folders/dh/zp5lxqxj269938btf9rcxlh40000gn/T/ipykernel_1075/1300432181.py:2: FutureWarning: The default value of numeric_only in DataFrameGroupBy.sum is deprecated. In a future version, numeric_only will default to False. Either specify numeric_only or select only columns which should be valid for the function.
  nazione_dataf = dataf.groupby('Country').sum().index
/var/folders/dh/zp5lxqxj269938btf9rcxlh40000gn/T/ipykernel_1075/1300432181.py:2: FutureWarning: The default value of numeric_only in DataFrameGroupBy.sum is deprecated. In a future version, numeric_only will default to False. Either specify numeric_only or select only columns which should be valid for the function.
  nazione_dataf = dataf.groupby('Country').sum().index
/var/folders/dh/zp5lxqxj269938btf9rcxlh40000gn/T/ipykernel_1075/1300432181.py:2: FutureWarning: The default value of numeric_only in DataFrameGroupBy.sum is deprecated. In a future version, numeric_only will default to False. Either specify numeric_only or select only columns which should be valid for the function.
  nazione_dataf = dataf.groupby('Country').sum().index
/var/folders/dh/zp5lxqxj269938btf9rcxlh40000gn/T/ipykernel_1075/1300432181.py:2: FutureWarning: The default value of numeric_only in DataFrameGroupBy.sum is deprecated. In a future version, numeric_only will default to False. Either specify numeric_only or select only columns which should be valid for the function.
  nazione_dataf = dataf.groupby('Country').sum().index
/var/folders/dh/zp5lxqxj269938btf9rcxlh40000gn/T/ipykernel_1075/1300432181.py:2: FutureWarning: The default value of numeric_only in DataFrameGroupBy.sum is deprecated. In a future version, numeric_only will default to False. Either specify numeric_only or select only columns which should be valid for the function.
  nazione_dataf = dataf.groupby('Country').sum().index

## CONTROLLO EVENTUALI VALORI ANCORA NA SUL DATABASE SPREAD

In [25]:
spread.set_index(['Country','Trimestre'],inplace=True)

In [26]:
nan_positions = spread.isna()
nan_indices = nan_positions.stack()[nan_positions.stack()]
print("\nIndices of NaN values:")
print(nan_indices.index)

Indices of NaN values:
MultiIndex([('Lithuania', '2000Q1', 'Spread'),
            ('Lithuania', '2000Q2', 'Spread'),
            ('Lithuania', '2000Q3', 'Spread'),
            ('Lithuania', '2000Q4', 'Spread'),
            ('Lithuania', '2001Q1', 'Spread'),
            ('Lithuania', '2001Q2', 'Spread'),
            ('Lithuania', '2001Q3', 'Spread'),
            ('Lithuania', '2001Q4', 'Spread'),
            ('Lithuania', '2002Q1', 'Spread'),
            ('Lithuania', '2002Q2', 'Spread'),
            ('Lithuania', '2002Q3', 'Spread'),
            ('Lithuania', '2002Q4', 'Spread'),
            ('Lithuania', '2003Q1', 'Spread'),
            ('Lithuania', '2003Q2', 'Spread'),
            ('Lithuania', '2003Q3', 'Spread'),
            ('Lithuania', '2003Q4', 'Spread'),
            ('Lithuania', '2004Q1', 'Spread'),
            ('Lithuania', '2004Q2', 'Spread'),
            ('Lithuania', '2004Q3', 'Spread'),
            ('Lithuania', '2004Q4', 'Spread'),
            ('Lithuania', '2005Q1', 'Spread'),
            ('Lithuania', '2005Q2', 'Spread'),
            ('Lithuania', '2005Q3', 'Spread'),
            ('Lithuania', '2005Q4', 'Spread'),
            ('Lithuania', '2006Q1', 'Spread'),
            ('Lithuania', '2006Q2', 'Spread'),
            ('Lithuania', '2006Q3', 'Spread'),
            ('Lithuania', '2006Q4', 'Spread'),
            ('Lithuania', '2007Q1', 'Spread'),
            ('Lithuania', '2007Q2', 'Spread'),
            ('Lithuania', '2007Q3', 'Spread'),
            ('Lithuania', '2007Q4', 'Spread'),
            ('Lithuania', '2008Q1', 'Spread'),
            ('Lithuania', '2008Q2', 'Spread'),
            ('Lithuania', '2008Q3', 'Spread'),
            ('Lithuania', '2008Q4', 'Spread'),
            ('Lithuania', '2009Q1', 'Spread'),
            (   'Latvia', '2000Q1', 'Spread'),
            (   'Latvia', '2000Q2', 'Spread'),
            (   'Latvia', '2000Q3', 'Spread'),
            (   'Latvia', '2000Q4', 'Spread'),
            (   'Latvia', '2001Q1', 'Spread'),
            (   'Latvia', '2001Q2', 'Spread'),
            (   'Latvia', '2001Q3', 'Spread'),
            (   'Latvia', '2001Q4', 'Spread'),
            (   'Latvia', '2002Q1', 'Spread'),
            (   'Latvia', '2002Q2', 'Spread'),
            (   'Latvia', '2002Q3', 'Spread'),
            (   'Latvia', '2002Q4', 'Spread'),
            (   'Latvia', '2003Q1', 'Spread'),
            (   'Latvia', '2003Q2', 'Spread'),
            (   'Latvia', '2003Q3', 'Spread'),
            (   'Latvia', '2003Q4', 'Spread'),
            ( 'Slovakia', '2000Q1', 'Spread'),
            ( 'Slovakia', '2000Q2', 'Spread'),
            ( 'Slovakia', '2000Q3', 'Spread'),
            ( 'Slovakia', '2000Q4', 'Spread'),
            ( 'Slovakia', '2001Q1', 'Spread'),
            ( 'Slovakia', '2001Q2', 'Spread'),
            ( 'Slovakia', '2001Q3', 'Spread'),
            ( 'Slovakia', '2001Q4', 'Spread'),
            ( 'Slovakia', '2002Q1', 'Spread'),
            ( 'Slovakia', '2002Q2', 'Spread'),
            ( 'Slovakia', '2002Q3', 'Spread'),
            ( 'Slovakia', '2002Q4', 'Spread'),
            ( 'Slovakia', '2003Q1', 'Spread'),
            ( 'Slovakia', '2003Q2', 'Spread'),
            ( 'Slovakia', '2003Q3', 'Spread'),
            ( 'Slovakia', '2003Q4', 'Spread'),
            ( 'Slovakia', '2004Q1', 'Spread'),
            ( 'Slovakia', '2004Q2', 'Spread'),
            ( 'Slovakia', '2004Q3', 'Spread'),
            ( 'Slovakia', '2004Q4', 'Spread'),
            ( 'Slovakia', '2005Q1', 'Spread'),
            ( 'Slovakia', '2005Q2', 'Spread'),
            ( 'Slovakia', '2005Q3', 'Spread'),
            ( 'Slovakia', '2005Q4', 'Spread'),
            ( 'Slovakia', '2006Q1', 'Spread'),
            ( 'Slovakia', '2006Q2', 'Spread'),
            ( 'Slovakia', '2006Q3', 'Spread'),
            ( 'Slovakia', '2006Q4', 'Spread'),
            ( 'Slovakia', '2007Q1', 'Spread'),
            ( 'Slovakia', '2007Q2', 'Spread'),
            ( 'Slovakia', '2007Q3', 'Spread'),
            ( 'Slovakia', '2007Q4', 'Spread')],
           names=['Country', 'Trimestre', None])

**MANCANO SOLO PAESI NON RILEVANTI OER LA MIA ANALISI QUINDI VA TUTTO BENE**

## PROVIAMO AD UNIRE STI DATABASE

In [27]:
merged_df = dataframes[0]
for df in dataframes[1:]:
    merged_df = pd.merge(merged_df, df, on=['Country', 'Trimestre'])

merged_df = merged_df.drop_duplicates(subset=['Country', 'Trimestre'])
merged_df.set_index(['Country','Trimestre'],inplace=True)

In [29]:
merged_df.to_csv('DATABASE ULTIMATO.csv')