In [1]:
import numpy as np
import pandas as pd

## DATI BCE  "GOVERNMENT DEBT(CONSOLIDATED) AS % OF GDP"  

**https://data.ecb.europa.eu/data/data-categories/prices-macroeconomic-and-sectoral-statistics/government-finance/government-debt/gross-government-debt-consolidated/total**

In [2]:
df = pd.read_csv('/Users/tiziana/Desktop/PYTHON/TESI MAGISTRALE/DATI/TOTAL DEBT/ECB Data Portal_20240516100442.csv')
df.tail()
df.columns = ['DATE','TIME PERIOD','Estonia','Spain','Finland','France','United Kingdom','Greece','Ireland','Italy','Lituania']

In [3]:
df2 = pd.read_csv('/Users/tiziana/Desktop/PYTHON/TESI MAGISTRALE/DATI/TOTAL DEBT/ECB Data Portal_20240516100815.csv')
df2.head()

df2.columns=['DATE','TIME PERIOD','Austria','Belgium','Germany','Denmark','Lettonia','Netherlands','Poland','Portugal','Sweden','United States']

In [4]:
jpn = pd.read_csv('/Users/tiziana/Desktop/PYTHON/TESI MAGISTRALE/DATI/TOTAL DEBT/ECB JAPAN % GDP.csv')
jpn.columns = ['DATE','PERIOD','PUBLIC DEBT']

In [5]:
nazioni2 = ['Austria','Belgium','Germany','Denmark','Lettonia','Netherlands','Poland','Portugal','Sweden','United States']
nazioni = ['Estonia','Spain','Finland','France','United Kingdom','Greece','Ireland','Italy','Lituania']

In [6]:
df.set_index('TIME PERIOD',inplace=True)
df2.set_index('TIME PERIOD',inplace=True)

In [7]:
anni = ['2000Q1', '2000Q2', '2000Q3', '2000Q4', '2001Q1', '2001Q2', '2001Q3', '2001Q4', '2002Q1', '2002Q2', '2002Q3', '2002Q4', '2003Q1', '2003Q2', '2003Q3', '2003Q4', '2004Q1', '2004Q2', '2004Q3', '2004Q4', '2005Q1', '2005Q2', '2005Q3', '2005Q4', '2006Q1', '2006Q2', '2006Q3', '2006Q4', '2007Q1', '2007Q2', '2007Q3', '2007Q4', '2008Q1', '2008Q2', '2008Q3', '2008Q4', '2009Q1', '2009Q2', '2009Q3', '2009Q4', '2010Q1', '2010Q2', '2010Q3', '2010Q4', '2011Q1', '2011Q2', '2011Q3', '2011Q4', '2012Q1', '2012Q2', '2012Q3', '2012Q4', '2013Q1', '2013Q2', '2013Q3', '2013Q4', '2014Q1', '2014Q2', '2014Q3', '2014Q4', '2015Q1', '2015Q2', '2015Q3', '2015Q4', '2016Q1', '2016Q2', '2016Q3', '2016Q4', '2017Q1', '2017Q2', '2017Q3', '2017Q4', '2018Q1', '2018Q2', '2018Q3', '2018Q4', '2019Q1', '2019Q2', '2019Q3', '2019Q4', '2020Q1', '2020Q2', '2020Q3', '2020Q4', '2021Q1', '2021Q2', '2021Q3', '2021Q4', '2022Q1', '2022Q2', '2022Q3', '2022Q4']

In [8]:
new_df = []
for nazione in nazioni:
    dati_nazionali = pd.DataFrame(df[nazione])
    dati_nazionali = dati_nazionali.loc[anni]
    dati_nazionali['Country'] = nazione
    dati_nazionali.columns = ['PUBLIC DEBT','Country']
    new_df.append(dati_nazionali)
    
    
    def_df = pd.concat((new_df),axis=0)

In [9]:
new_df2 = []
for nazione in nazioni2:
    dati_nazionali = pd.DataFrame(df2[nazione])
    dati_nazionali = dati_nazionali.loc[anni]
    dati_nazionali['Country'] = nazione
    dati_nazionali.columns = ['PUBLIC DEBT','Country']
    new_df2.append(dati_nazionali)
    
    
    def_df2 = pd.concat(new_df2,axis=0)

In [10]:
debt = pd.concat([def_df2,def_df],axis=0)

In [11]:
debt

             PUBLIC DEBT   Country
TIME PERIOD
2000Q1            70.240   Austria
2000Q2            70.763   Austria
2000Q3            71.450   Austria
2000Q4            66.124   Austria
2001Q1            69.926   Austria
...                  ...       ...
2021Q4            43.442  Lituania
2022Q1            39.461  Lituania
2022Q2            39.265  Lituania
2022Q3            36.997  Lituania
2022Q4            38.069  Lituania

[1748 rows x 2 columns]

In [12]:
debt.reset_index(inplace=True)
anni = list(debt.groupby('TIME PERIOD').sum().index)

debt.set_index(['Country','TIME PERIOD'],inplace=True)

/var/folders/dh/zp5lxqxj269938btf9rcxlh40000gn/T/ipykernel_43341/923691256.py:2: FutureWarning: The default value of numeric_only in DataFrameGroupBy.sum is deprecated. In a future version, numeric_only will default to False. Either specify numeric_only or select only columns which should be valid for the function.
  anni = list(debt.groupby('TIME PERIOD').sum().index)

In [13]:
nazioni = list(debt.groupby('Country').sum().index)

In [14]:
stat = {}
for nazione in nazioni:
    mean = debt.loc[nazione].mean()
    std = debt.loc[nazione].std()

    stat[nazione] = {
        'mean': mean,
        'std': std
    }

In [15]:
stat['Lituania']['mean']

PUBLIC DEBT    30.505489
dtype: float64

In [16]:
stat['Lituania']['std']

PUBLIC DEBT    9.887311
dtype: float64

In [17]:
for nazione in nazioni:
    for anno in anni:
        debt.loc[(nazione,anno)] = (debt.loc[(nazione,anno)] - stat[nazione]['mean'] ) / stat[nazione]['std']

In [18]:
jpn = jpn[['PERIOD','PUBLIC DEBT']]
jpn.set_index('PERIOD',inplace=True)
jpn = jpn.loc[anni]

jpn =jpn.reset_index()
jpn['Country'] = 'Japan'
jpn.set_index(['Country','PERIOD'],inplace=True)

In [19]:
mean = jpn.mean()
std = jpn.std()

jpn = (jpn -mean) / std

In [20]:
jpn

                PUBLIC DEBT
Country PERIOD
Japan   2000Q1    -1.846895
        2000Q2    -1.766813
        2000Q3    -1.775224
        2000Q4    -1.690954
        2001Q1    -1.501175
...                     ...
        2021Q4     1.477239
        2022Q1     1.649777
        2022Q2     1.729149
        2022Q3     1.687545
        2022Q4     1.683453

[92 rows x 1 columns]

In [21]:
can = pd.read_csv('/Users/tiziana/Desktop/PYTHON/TESI MAGISTRALE/DATI/TOTAL DEBT/OECD CANADA E SVIZZERA DEBT %GDP QUARTERLY.csv')
can.head()

can.set_index('Country',inplace=True)
can = can.loc['Canada']
can = can[['Time','Value']]

can = can.reset_index()
can.set_index(['Country','Time'],inplace=True)

mean = can.mean()
std = can.std()

can = (can - mean) / std
can.columns = ['PUBLIC DEBT']

In [22]:
can.to_csv('canada debito.csv')

In [23]:
debt = pd.concat([debt,jpn,can],axis=0)
debt

                     PUBLIC DEBT
Country TIME PERIOD
Austria 2000Q1         -0.960817
        2000Q2         -0.880322
        2000Q3         -0.774585
        2000Q4         -1.594316
        2001Q1         -1.009146
...                          ...
Canada  Q4-2021         3.107657
        Q1-2022         3.215648
        Q2-2022         3.343397
        Q3-2022         3.469287
        Q4-2022         3.541490

[19050 rows x 1 columns]

In [24]:
debt.to_csv('FINAL DEBT.csv')

In [25]:
nazioni

['Austria',
 'Belgium',
 'Denmark',
 'Estonia',
 'Finland',
 'France',
 'Germany',
 'Greece',
 'Ireland',
 'Italy',
 'Lettonia',
 'Lituania',
 'Netherlands',
 'Poland',
 'Portugal',
 'Spain',
 'Sweden',
 'United Kingdom',
 'United States']